body{
	background-color: lightblue;
	font-family: sans-serif;
}

h2,h1{
	color: #e86b3a;
	text-align: center;
}

.center{
	display: block;
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
}

.headshot{
    height: 255px;
}

#assignmenttable tr:nth-child(even) {
    background-color: #f2f2f2;
}

	
a:hover{
	color: maroon;
}	

span{
	color: red;
	font-weight: bold;
}

blockquote{
	background-color: #f2f2f2;
	padding: 10px;
}

#mainframe{
	border: 0;
	width: 85%;
	margin-left:auto; 
    margin-right:auto;
}


#assignmenttable{
	border: 0;
	margin-left:auto; 
    margin-right:auto;
	width: 400px;
}

#assignmenttable td{
	padding: 10px;
	text-align: center;
}
